# Object files
*.o
*.ko
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

CMakeCache.txt
CMakeFiles/
Makefile
bin/
cmake_install.cmake
inc/CMakeFiles/
inc/Makefile
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
src/util/CMakeFiles/
src/util/Makefile
src/util/cmake_install.cmake
lib/
syslog*
